@import '../../styles/mixins.scss';

.gallery {
  width: 70%;
  margin: 0 auto;
  margin-top: 6em;
  padding: 1em 1.5em;

  ul.masonry {

    @include layout( desktop ) {
      column-count: 5;
    }
    @include layout( laptop ) {
      column-count: 4;
    }

    @include layout( mobile ) {
      column-count: 3;
    }

    @include layout( phone ) {
      column-count: 1;
    }

    li.item {
      list-style: none;
      display: block;
      width: 100%;
      margin: 1em;
      
      img {
        width: 100%;
        height: auto;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .8));
        border-radius: 4px;
      }

    }
  }
}

#toTop {
  display: block;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  background-color: #67686b;
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  color: #fff;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .8));

  &:hover {
    background-color: #000;
    opacity: 1;
  }

  .fa-chevron-up {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}