@import '../../styles/mixins.scss';

.gallery {
  width: 70%;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 0;

  @include layout( mobile ) {
    margin-top: 10rem;
  }
  
  ul.masonry {
    width: 100%;

    @include layout( laptop ) {
      columns: 3;
    }
    
    @include layout( desktop ) {
      columns: 4;
    }
    
    @include layout( mobile ) {
      columns: 2;
    }

    @include layout( phone ) {
      columns: 1;
    }

    h3 {
      width: 100%;
      color: #00C0EB;
    }

    li.item {
      list-style: none;
      display: block;
      width: 100%;
      position: relative;
      break-inside: avoid;
      margin-bottom: 1em ;
      transition: ease-in 0.1s;

      &:hover {
        transform: scale(1.05);
      }

      .lazyload-wrapper {
        position: relative;
      }

      .lazyload-wrapper a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      
      img {
        width: 100%;
        height: auto;
        display: block;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .8));
        border-radius: 4px;
      }

    }
  }
}

#toTop {
  display: block;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  background-color: #67686b;
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  color: #fff;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .8));

  &:hover {
    background-color: #000;
    opacity: 1;
  }

  .fa-chevron-up {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}