@import '../../styles/mixins.scss';

.site-header {

  .site-nav {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .5));
    // padding: 1rem 0;
    // min-height: 100vh;
    position: fixed;
    z-index: 110;

    @include layout(laptop) {
      width: 10em;
      margin-top: 6rem;

      ul {
        padding-left: 2rem;

        li {
          text-align: left;

          &:hover {
            border-left: 3px solid #55C0EB;
          }
        }
        
        li a {
          padding: 0.3em 0.6em 0.3em 0;
        }
      }

      .fa-chevron-down {
        color: #55C0EB;
        font-size: 0.7em;
      }
      
      .inner {
        padding-left: 0.5rem;
      }
    }

    @include layout(desktop) {
      width: 15%;

      ul {
        padding-left: 2em;
      }
    }

    @include layout(mobile) {
      width: 100%;
      margin-top: 3.1rem;

      ul {

        li {
          text-align: left;
          background-color: #55C0EB;
          border-bottom: 1px solid #fff;
          padding-left: 0;
        }

        li a {
          color: #fff;
          padding: 0.5em 1em 0.5em 2rem;
        }
      }

      .fa-chevron-down {
        color: #fff;
        font-size: 0.7em;
      }

      .inner {
        padding-left: 3rem;
      }
    }

    @include layout(phone) {
      margin-top: 5rem;
    }

    ul {
      animation: slide 0.15s ease-in;
    }

    ul li {
      list-style: none;
      position: relative;
      width: 100%;
      border-left: 3px solid transparent;
    }

    .fa-chevron-down {
      padding-left: 0.5em;
    }

    .inner-nav {
      display: none;

      ul {
        padding-left: 0;
      }
    }
    
    .inner {
      text-align: left;
      width: 100%;
      transform: translateX(-20px);
    }

    .link {
      display: block;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.toggle-nav-btn {
  display: none;

  .fa-times {
    display: none;
  }

 

  @include layout (laptop) {
    .fas {
      top: 7rem;
      left: 2rem;
      font-size: 2.5em;
    }
  }

  @include layout (desktop) {
    .fas {
      top: 7rem;
      left: 3rem;
      font-size: 2.5em;
    }
  }

  @include layout (mobile) {
    .fas {
      color: #fff;
      top: 3.7rem;
      left: 2rem;
      font-size: 2.5em;
    }
  }

  @include layout (phone) {
    .fas {
      top: 4.7rem;
      left: 2rem;
      font-size: 2.5em;
    }
  }

  .fas {
    position: absolute;
    z-index: 1000;
    
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .8));

    span {
      font-size: 0.7em;
      padding-left: 0.5em;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.toggle-nav {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;

  &+.site-header {
    .toggle-nav-btn {
      display: block;
    }

    .site-nav {
      display: none;
    }
  }

  &:checked+.site-header {

    .site-nav {
      display: block;
    }

    .toggle-nav-btn {
      display: block;

      .fa-bars {
        display: none;
      }

      .fa-times {
        display: block;
      }
    }
  }
}

.title {
  position: fixed;
  padding: 1rem 0;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(59, 58, 58);
  opacity: 0.95;
  color: #FAFAFA;

  @include layout(laptop) {

    h1,
    span {
      flex-basis: 33%;
    }

    h1 {
      padding-left: 3rem;
      text-align: left;
    }

    span {
      padding: 0 3rem;
      justify-content: flex-end;
    }

    button {
      margin-left: 1em;
    }
  }

  @include layout(mobile) {

    h1,
    span {
      flex-basis: 100%;
    }

    h1 {
      padding-left: 1rem;
      text-align: center;
      margin: 0;
    }

    span {
      padding: 0 1rem;
      margin-left: 0;
      justify-content: flex-end;
    }
  }

  @include layout(phone) {
    h1, span {
      margin-bottom: 1rem;
    }   
  }

  // h1, span {
  //   border: red 1px solid;
  // }

  h1 {
    font-weight: 700;
    color: #55C0EB;
  }

  span {
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    // position: absolute;
    // right: 6em;
    // top: 1em;
    display: flex;
    align-items: center;
  }

  button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    outline: none;
    border: 1px solid rgb(66, 64, 64);
    box-shadow: 0 0 8px #55C0EB;


    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}