@import '../../styles/mixins.scss';

.site-header {

  .site-nav {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .5));
    padding-top: 2%;
    min-height: 100vh;
    position: fixed;
    z-index: 10;

    @include layout(laptop) {
      width: 10em;

      ul {
        padding-left: 1em;

        li {
          text-align: left;
        }
      }
    }

    @include layout(desktop) {
      width: 15%;

      ul {
        padding-left: 2em;
      }
    }

    @include layout(mobile) {
      width: 10em;

      ul {
        padding-left: 1em;

        li {
          text-align: left;
        }
      }
    }

    @include layout(phone) {
      width: 100%;

      ul {
        padding-left: 0;

        li {
          text-align: center;
          background-color: #55C0EB;

          a {
            color: #fff;
          }
        }
      }
    }

    ul {
      animation: slide 0.15s ease-in;
    }

    ul li {
      list-style: none;
      position: relative;
      width: 100%;
      border-left: 3px solid transparent;

      &:hover {
        border-left: 3px solid #55C0EB;
      }
    }

    .fa-chevron-down {
      color: #55C0EB;
      padding-left: 0.5em;
    }

    .inner-nav {
      display: none;
    }

    .inner {
      width: 100%;
      transform: translateX(-20px);
    }

    .link {
      display: block;
      padding: 0.5em 1em;
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.toggle-nav-btn {
  display: none;

  .fa-times {
    display: none;
  }

  .fas {
    position: absolute;
    z-index: 1000;
    top: 1em;
    left: 3em;
    font-size: 2.5em;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .8));

    span {
      font-size: 0.7em;
      padding-left: 0.5em;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.toggle-nav {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;

  &+.site-header {
    .toggle-nav-btn {
      display: block;
    }

    .site-nav {
      display: none;
    }
  }

  &:checked+.site-header {

    .site-nav {
      display: block;
    }

    .toggle-nav-btn {
      display: block;

      .fa-bars {
        display: none;
      }

      .fa-times {
        display: block;
      }
    }
  }
}

.title {
  position: relative;

  h1 {
    width: 100%;
    padding-top: 2.5%;
    font-weight: 700;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .8));

    span {
      font-size: 0.5em;
      font-weight: 400;
      position: absolute;
      right: 6em;
      top: 1em;
      padding: 1.5em 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    outline: none;
    margin-left: 1em;
    border: 1px solid rgb(66, 64, 64);

    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translate(-50%, 0);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}