.user-profile {
  margin-top: 3em;

  header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    
    h3 {
      flex-basis: 100%;
      margin-bottom: 0;
    }
    
    div.avatar-container {
      // flex-basis: 100%;
      width: 6em;
      height: 6em;
      position: relative;
      display: block;
      overflow: hidden;
      
      img {
        display: block;
        position: absolute;
        border-radius: 0.2em;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
      }
    }
  }
}