@import '../../styles/mixins.scss';

.carousel {
  width: 60%;
  height: 60vh;
  margin: 0 auto;
  margin-top: 7rem;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1));
  position: relative;

  @include layout(mobile) {
    margin-top: 10rem;
    width: 80%;
  }

  @include layout(mobile) {
    width: 100%;
  }

  .carousel-content {
    padding: 1.8em;
    background-color: rgb(54, 52, 52);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .topic-link {
      text-decoration: none;
      flex-basis: 10%;
      color: rgb(228, 222, 222);
      font-size: 1.2em;
    }

    .gallery-image {
      flex-basis: 100%;
    }
  }
}