@import '../../styles/mixins.scss';

.carousel {
  width: 60%;
  height: 25em;
  margin: 0 auto;
  margin-top: 5em;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1));

  // @include layout(phone) {
    
  // }

  
  .carousel-content {
    position: relative;
    background-color: rgb(54, 52, 52);

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      transform: skew(1deg, 1deg);
      background-image: linear-gradient(to right top, #1493f6, #00acfb, #00c2fa, #41d6f6, #79e8f2);
      z-index: -1;
      border-radius: .5em;
    }

    .topic-link {
      text-decoration: none;
      color: rgb(228, 222, 222);
      padding-bottom: 3em;
      font-size: 1.2em;
    }
  }
}