@import '../../styles/mixins.scss';

.img-form {
  min-height: 60vh;
  display: flex;
  margin: 7rem auto;
  flex-wrap: wrap;
  justify-content: center;

  @include layout(laptop) {
    width: 70%;
    // min-height: 70vh;

    .img-container {
      flex-basis: 60%;
    }

    .img-props {
      flex-basis: 40%;
      padding: 1em;
    }
  }

  @include layout(desktop) {
    width: 60%;
  }

  @include layout(mobile) {
    width: 80%;
    margin-top: 10rem;
    
    .img-container,
    .img-props {
      flex-basis: 100%;
    }

    .img-props {
      padding: 1em;
    }
  }

  @include layout(phone) {
    width: 100%;

    .img-props {
      padding: 1.3em 2em;
    }
  }

  .img-container {
    border: 1px dashed black;
    border-radius: .5em 0 0 .5em;
    position: relative;
    display: block;
    overflow: hidden;
    max-height: 36em;
  }

  .img-props {
    border: 1px solid black;
    border-radius: 0 .5em .5em 0;

    header {
      width: 100%;
      text-align: left;
    }

    p {
      text-align: left;
    }

    input,
    select {
      border: none;
      width: 100%;
      padding: 0.5em 0 0.5em .5em;
      border-bottom: 1px solid rgb(143, 142, 142);

      &:focus {
        border-bottom: 2px solid rgb(219, 10, 10);
        outline: none;
      }
    }

    .submit-btn {
      font-size: 1.5em;
      padding-left: 0;
      border-radius: 0.3em;
      color: rgb(255, 255, 255);
      -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
      background-image: linear-gradient(to right top, #1493f6, #00acfb, #00c2fa, #41d6f6, #79e8f2);
      cursor: pointer;

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}