.site-header {
  .site-nav {
    width: 20%;
    padding-top: 2%;
    min-height: 100vh;
    position: fixed;
    
    ul {
      animation: slide 0.15s ease-in;
      padding-left: 3em;
    }

    ul li {
      list-style: none;
      // padding: 0.6em 0em;
      margin-bottom: 0.5em;
      text-align: left;
      position: relative;
      transform: translateY(0);
      transition: 0.2s;

      &:hover {
        transform: translateY(-3px);
      }
    }

    .link {
      text-decoration: none;
      color: rgb(59, 58, 58);
      font-weight: 500;
      padding: 0.5em 1em;
    }
  }
}

.toggle-nav-btn {
  display: none;

  .fa-times {
    display: none;
  }

  .fas {
    position: absolute;
    z-index: 1000;
    top: 1em;
    left: 3em;
    font-size: 2.5em;
    color: rgb(59, 58, 58);

    span {
      font-size: 0.7em;
      padding-left: 0.5em;
    }
  }
}

.toggle-nav {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;

  &+.site-header {
    .toggle-nav-btn {
      display: block;
    }

    .site-nav {
      display: none;
    }
  }

  &:checked+.site-header {

    .site-nav {
      display: block;
    }

    .toggle-nav-btn {
      display: block;

      .fa-bars {
        display: none;
      }

      .fa-times {
        display: block;
      }
    }
  }
}

.title {
  position: relative;

  h1 {
    width: 100%;
    padding-top: 2.5%;
    font-weight: 700;
    
    span {
      font-size: 0.5em;
      font-weight: 400;  
      position: absolute;
      right: 6em;
      top: 1em;
      padding: 1.5em 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    outline: none;
    margin-left: 1em;
    border: 1px solid rgb(66, 64, 64);
    background-color: rgb(56, 54, 54);
  }
}

@keyframes slide {
  from {
      opacity: 0;
      transform: translate(-50%, 0);
  }
  to {
      opacity: 1;
      transform: translate(0);
  }
}