.carousel {
  width: 60%;
  height: 25em;
  margin: 0 auto;
  margin-top: 5em;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 1));

  
  .carousel-content {
    position: relative;
    background-color: rgb(54, 52, 52);

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      transform: skew(1deg, 1deg);
      // background: linear-gradient(315deg, rgb(63, 62, 62), rgb(129, 131, 130));
      background-image: linear-gradient(to right top, #741a56, #b9004c, #eb0d1e);
      z-index: -1;
    }

    .topic-link {
      text-decoration: none;
      color: rgb(228, 222, 222);
      padding-bottom: 3em;
      font-size: 1.2em;
    }
  }
}