.carousel {
  width: 60%;
  height: 25em;
  margin: 0 auto;
  margin-top: 5em;
  
  .gallery {
    position: relative;
    background-color: rgb(54, 52, 52);
    box-shadow: -4px -4px 5px 0px #4e4f50, 5px 5px 6px 0px #0d0d0e;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      transform: skew(2deg, 2deg);
      background: linear-gradient(315deg, rgb(63, 62, 62), rgb(129, 131, 130));
      z-index: -1;
    }

    .topic-link {
      text-decoration: none;
      color: rgb(228, 222, 222);
      padding-bottom: 3em;
      font-size: 1.2em;
    }
  }
}