@import '../../styles/mixins.scss';

.image-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 60vh;
  flex-wrap: wrap;
  margin: 7rem auto;
  box-shadow: 0 0 25px #55C0EB;
  padding: 1em;

  @include layout(mobile) {
    width: 80%;
    margin-top: 10rem;

    .image-box {
      flex-basis: 100%;
    }

    .image-stats {
      flex-basis: 100%;
      margin-top: 2em;
    }

    .comments {
      margin-top: 2em;
    }

    .edit-form-container {
      flex-basis: 100%;
      margin-top: 2rem;
    }
  }

  @include layout(laptop) {
    width: 70%;

    .image-box {
      flex-basis: 65%;
    }

    .image-stats {
      padding-left: 1em;
    }
    
    .comments {
      margin-top: 2em;
    }

    .edit-form-container {
      flex-basis: 65%;
      margin-top: 2rem;
    }
  }

  @include layout(desktop) {
    width: 60%;
  }

  @include layout(phone) {
    width: 100%;
  }

  .image-box {
    position: relative;
    overflow: hidden;
    display: block;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .8));
  }

  .image-stats {
    text-align: left;

    p {
      padding-bottom: 0.5em;
    }

    .buttons {
      display: flex;
      justify-content: flex-start;

      button {
        padding: 0.5em 1em;
        margin-right: 0.5em;
        font-weight: 600;
        color: #fff;
        border: none;
        border-radius: 3px;
        background-color: #55C0EB;
        cursor: pointer;
      }
    }
  }

  // .edit-form-container {
  //   opacity: 0;
  //   transform: translateY(-250px);
  // }

  .comments {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;

    form {
      width: 100%;
      text-align: left;

      header,
      p.comment-input {
        width: 100%;
      }

      p.comment-input {
        padding-bottom: 0;
      }

      .comment-box {
        width: 70%;
        margin-bottom: 1em;

        p {
          width: 100%;
          padding-bottom: 0;
        }

        p.user-container {
          display: flex;
          align-items: center;
        }

        p span.avatar {
          width: 2em;
          height: 2em;
          display: block;
          position: relative;
          margin-right: 0.5em;

          img {
            position: absolute;
            display: block;
            width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        p.comment {
          font-weight: 300;
        }
      }

      p.comment-input input {
        width: 70%;
      }

      input {
        font-size: 0.8em;
        padding: 0.5em 1em;
      }

      input.button {
        color: #fff;
        border: none;
        border-radius: 3px;
        background-color: #55C0EB;
        cursor: pointer;
        margin-top: 0.5em;
      }
    }
  }

  button:hover,
  input.button:hover {
    transform: scale(1.1);
  }
}