@import '../../styles/mixins.scss';

.edit-image-form {
  width: 100%;

  h4 {
    color: #55C0EB;
  }

  p {
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 0.5em;

    @include layout(mobile) {
      label {
        flex-basis: 10%;
        margin-right: 0.5em;
      }
    }

    @include layout(phone) {
      label {
        flex-basis: 100%;
        margin-right: 0;
      }
    }

    label {
      // flex-basis: 5em;
      background-color: #55C0EB;
      color: #fff;
      padding: 0.2em 0.4em;
    }

    input[type="text"],
    select {
      flex-basis: 100%;
      padding: 0.2em 0.4em;
    }

    .submit-btn {
      padding: 0.3em 0.6em;
      margin-right: 0.5em;
      font-weight: 600;
      color: #fff;
      border: none;
      border-radius: 3px;
      background-color: #55C0EB;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}